<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Flask Page</title>
    <link rel="stylesheet" href="./static/style.css"/>
</head>

<body>
<div class="basic">
    <h1>Login: GET</h1>
    <form method="get" action="{{ url_for('handle_get') }}">
    <input  type="text"
            name="username"
            placeholder="Username">
    <input  type="password"
            name="password"
            placeholder="Password">
    <button type="submit">Submit</button>
    </form>
</div>
<div class="basic">
    <h1>Login: POST</h1>
    <form method="post" action="{{ url_for('handle_post') }}">
    <input  type="text"
            name="username"
            placeholder="Username">
    <input  type="password"
            name="password"
            placeholder="Password">
    <button type="submit">Submit</button>
    </form>
</div>
</body>

</html>